fvcore==0.1.5.post20221221
iopath==0.1.10
omegaconf==2.3.0
cloudpickle==3.1.2
tabulate==0.9.0
termcolor==3.3.0
portalocker==4.3.2
jsonlines==4.0.0
json-lines==0.5.0
pycocotools==2.0.11
install-jdk==1.1.0
numpy==2.0.2
Pillow==11.3.0
opencv-python==4.12.0.88
pycocoevalcap @ git+https://github.com/salaniz/pycocoevalcap.git
